<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="cn.edu.neu.mapper.ColorMapper">
	<select id="findAllColors" resultType="Color">
		select color_id colorId,color_name colorName from t_color
	</select>
	<insert id="saveColor" parameterType="Color">
	    insert into t_color values(null,#{colorName})
	</insert>
	<select id="findColorById" parameterType="int" resultType="Color">
	    select color_id colorId,color_name colorName from t_color where color_id=#{colorId}
	</select>
	<update id="updateColor" parameterType="Color">
	    update t_color set color_name=#{colorName} where color_id=#{colorId}
	</update>
	<delete id="delColor" parameterType="int">
	    delete from t_color where color_id = #{colorId}
	</delete>
	
</mapper>