<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="cn.edu.neu.mapper.SizeMapper">
	<select id="findAllSizes" resultType="Size">
		select size_id sizeId,size_name sizeName from t_size
	</select>
	<insert id="saveSize" parameterType="Size">
	    insert into t_size values(null,#{sizeName})
	</insert>
	<select id="findSizeById" parameterType="int" resultType="Size">
	    select size_id sizeId,size_name sizeName from t_size where size_id=#{sizeId}
	</select>
	<update id="updateSize" parameterType="Size">
	    update t_size set size_name=#{sizeName} where size_id=#{sizeId}
	</update>
	<delete id="delSize" parameterType="int">
	    delete from t_size where size_id = #{sizeId}
	</delete>
</mapper>